# URL du backend en local
# Pour emulateur Android: http://10.0.2.2:3000
# Pour telephone physique: http://192.168.X.X:3000 (IP de la machine)
# Laisser vide pour utiliser http://10.0.2.2:3000 (Android) ou http://localhost:3000 (iOS)
API_URL=http://10.0.2.2:3000
